@font-face{
    font-family: 'Amiriitalic';
    src: url('../fonts/Amiriitalic.ttf')
}
@font-face{
    font-family: 'Amiriregular';
    src: url('../fonts/Amiriregular.ttf')
}
@font-face{
    font-family: 'cinzel-decorative-black';
    src: url('../fonts/cinzel-decorative-black_[allfont.ru].ttf')
}
@font-face{
    font-family: 'cinzel-decorative';
    src: url('../fonts/cinzel-decorative_[allfont.ru].ttf')
}